html > body {
  background-color: wheat;
}

.parentComponent {
  display: flex;
  justify-content: left;
  height: 100%;
  overflow: hidden;
}

.pokemonInfo {
  flex: 0 1 auto;
  overflow: hidden auto;
  width: 100%;
}

.pokemonList {
  overflow: auto;
  width: 300px;
}
