html > body {
  background-color: wheat;
}

.pokemonInfo {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.PokemonList {
  flex: 0 0 auto;
}

.parentComponent {
  display: flex;
  justify-content: left;
}
